<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title">冷蔵・冷凍庫保管物編集</h2>
    </div>
    
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          
          <%= form_with(model: @refrigerator, url: user_refrigerator_path, local: true, method: :patch) do |f| %>

          <%= f.label :"名前", class: "eventname" %>
          <%= f.text_field :name, class: "form-control" %>
          
          <%= f.label :"賞味期限", class: "expiration_date" %>
          <%= f.date_field :expiration_date, class: "form-control" %>

          <%= f.submit "更新", class: "btn btn-primary btn-block signup" %>
          
          <% end %>
        </div>
      </div>
    </div>
    
    </div>
  </div>