<% provide(:title) %>

  <table class="col-md-6 col-md-offset-3 information">
    <tr>
      <th>名前</th>
      <th>入居中のSA</th>
      <th>部屋番号</th>
    </tr>
    <tr>
      <td><span><%= @user.name %></span></td>
      <td><span><%= @user.department %></span></td>
      <td><span><%= @user.room %></span></td>
    </tr>
  </table>

<table class="col-md-12 menu_header center">
  <tr>
    <td class="col-md-4">
      <%= link_to "イベントスケジュール", {controller: "users", action: "show", id: current_user.id}, local: true, class: "event_link" %>
    </td>
    <td class="col-md-4">
      <%= link_to "プライベートボックス", {controller: "pboxes", action: "index", id: current_user.id}, local: true, class: "event_link" %>
    </td>
    <td class="col-md-4" style="background-color:#0077bb;">共用冷蔵庫</td>
    
  </tr>
</table>

<div class="col-md-12 event_menu center">
  
  <div class="removal_day">次回冷蔵庫整理日：<%= l(@user.removal_day, format: :long) %></div>

  <table class="col-md-12 event_menu_header">
    <tr>
      <td>名前</td>
      <td class="col-md-2">賞味期限</td>
      <td class="col-md-1">編集</td>
      <td class="col-md-1">削除</td>
    </tr>
    
    <% @refrigerators.each do |refrigerator| %>
    <tr>
      <td><%= refrigerator.name %></td>
      <td><%= l(refrigerator.expiration_date, format: :long) %></td>
      <td><%= link_to "編集", edit_user_refrigerator_path(id: refrigerator.id), remote: true, class: "btn btn-success" %></td>
      <td><%= link_to "削除", user_refrigerator_path(id: refrigerator.id), method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %></td>
    </tr>
    <% end %>
  </table>
</div>

<%= link_to "新規登録", new_user_refrigerator_path(@user), remote: true, class: "col-md-12 center new_event" %>

<!--モーダルウインドウ表示-->
<div id="new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>



