<% provide(:button_text, '新規登録') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h2 class="modal-title">新規イベント登録</h2>
    </div>
    
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          
          <%= form_with(model: @event, url: event_new_path, local: true, method: :post) do |f| %>

            <%= f.label "イベント名", class: "eventname" %>
            <%= f.text_field :eventname, class: "form-control" %>
            
            <%= f.label "イベント詳細", class: "eventdetail" %>
            <%= f.text_area :eventdetail, class: "form-control" %>

            <%= f.label "開催場所", class: "place" %>
            <%= f.text_field :place, class: "form-control" %>

            <%= f.label "開催日", class: "eventday" %>
            <%= f.date_field :eventday, class: "form-control" %>

            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary signup" %>
              <button type="button" class="btn btn-default signup" data-dismiss="modal">
                キャンセル
              </button>
            </div>
          <% end %>
          
        </div>
      </div>
    </div>
    
  </div>
</div>
